:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  //Primary
  --strongcyan: hsl(172, 67%, 45%);
  //Neutral
  --verydarkcyan: hsl(183, 100%, 15%);
  --darkgrayishcyanactive: hsl(186, 14%, 43%);
  --darkgrayishcyan: hsl(184, 14%, 56%);
  --lightgrayishcyan: hsl(189, 41%, 97%);
  --lightgrayishcyanactive: hsl(185, 41%, 84%);
}
