@use '../util' as *;

form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calc {
  .calc-container {
    display: flex;
    margin: auto;
    width: 800px;
    height: rem(400);
    background-color: var(--white);
    border-radius: 25px;

    .calc-inputs {
      display: grid;
      width: 50%;
      margin: 2rem;
      margin-right: 1rem;

      input[type="number"] {
        -moz-appearance: textfield;
        padding: 0.5rem;
        background-color: var(--lightgrayishcyan);
        border: none;
        border-radius: 5px;
        color: var(--verydarkcyan);
        font-size: 1.2rem;
        font-weight: 700;
        text-align: right;
        outline: none;
      }
      label {
        color: var(--darkgrayishcyan);
        font-size: 0.8rem;
        font-weight: 700;
      }
      .dollar {
        position: relative;
        top: -28px;
        left: 15px;
      }
      .calc-tip-title {
        color: var(--darkgrayishcyan);
        font-size: 0.8rem;
      }
      .calc-percs {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        gap: 1rem;
        %options-shared {
          background-color: var(--verydarkcyan);
          color: var(--white);
          font-weight: 700;
          border-radius: 5px;
          padding: 0.4rem 0;
        }
        .option-1 {
          @extend %options-shared;
        }
        .option-2 {
          @extend %options-shared;
        }
        .option-3 {
          @extend %options-shared;
        }
        .option-4 {
          @extend %options-shared;
        }
        .option-5 {
          @extend %options-shared;
        }
        .option-6 {
          @extend %options-shared;
          background-color: var(--lightgrayishcyan);
          color: var(--verydarkcyan);
        }
      }

      .people-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        .calc-number-of-people {
          color: var(--darkgrayishcyan);
          font-size: 0.8rem;
          width: fit-content;
          font-weight: 700;
        }
        .zero-people {
          display: flex;
          font-size: 0.8rem;
          width: fit-content;
          color: red;
          opacity: 0;
        }
      }
      .people-icon {
        position: relative;
        left: 15px;
        top: -28px;
      }
    }
    .calc-visor {
      display: grid;
      width: 50%;
      margin: 2rem;
      margin-left: 1rem;
      padding: 2rem;
      border: 1px solid green;
      background-color: var(--verydarkcyan);
      border-radius: 25px;
      border: none;
      .calc-tip-amount {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          margin: 0;
          font-size: 2.5rem;
          color: var(--strongcyan);
        }
        &-title {
          font-size: 0.8rem;
          color: var(--white);
          margin: 0;
          width: 90px;
        }
        &-person {
          font-size: 0.7rem;
          color: var(--darkgrayishcyan);
        }
      }
      .calc-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          margin: 0;
          font-size: 2.5rem;
          color: var(--strongcyan);
        }
        &-title {
          font-size: 0.8rem;
          color: var(--white);
          margin: 0;
          width: 90px;
        }
        &-person {
          font-size: 0.7rem;
          color: var(--darkgrayishcyan);
        }
      }
      button {
        position: relative;
        top: 47px;
        left: 0;
        height: 2.5rem;
        border: none;
        border-radius: 5px;
        background-color: var(--darkgrayishcyan);
        opacity: 0.3;
        color: var(--verydarkcyan);
        font-weight: 900;
        font-size: 1rem;
        letter-spacing: 0.2mm;
        cursor: pointer;
      }
    }
  }
}
